blinker==1.4
Click==7.0
decorator==4.4.1
elasticsearch==7.1.0
Flask==1.1.1
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.1
flask-whooshalchemy3==0.1.2
itsdangerous==1.1.0
Jinja2==2.10.3
jsonpickle==1.2
MarkupSafe==1.1.1
pbr==3.1.1
psycopg2==2.8.4
six==1.13.0
SQLAlchemy==1.1.13
SQLAlchemy-Searchable==1.1.0
SQLAlchemy-Utils==0.35.0
urllib3==1.25.7
validators==0.14.1
Werkzeug==0.16.0
