<!DOCTYPE html>
<html lang="en">

{% include "/assets.html" %} {% block body %}
<script src="/static/assets/js/waves.min.js"></script>
<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    {% include "/topnav.html" %}
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    {% include "/sidebar.html" %}
    <!-- Left Sidebar End -->
    <link href="/static/assets/css/tooltip.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"> {% include "/datatableassets-css.html" %}
    <link href="/static/assets/css/alerty.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.12/dist/sweetalert2.min.css">

    <style>
        /* Ensure that the demo table scrolls */
        
        thead {
            background-color: none !important;
            color: #30419b !important;
        }
        
        thead:hover {
            background-color: white !important;
            color: #30419b !important;
        }
        
        tr {
            cursor: pointer;
            font-size: 12px;
            height: 13px;
            background-color: white !important;
        }
        
        tr:hover {
            cursor: pointer;
            font-size: 12px;
            height: 13px;
            background-color: #30419b !important;
            color: rgb(255, 255, 255);
        }
        
        .sorting_1 {
            color: black;
        }
        
        .sorting_1:hover {
            color: white;
        }
        
        .selected {
            background-color: #30419b !important;
            color: rgb(255, 255, 255);
        }
        
        .thinBorderControl {
            /*border-radius: 3px;
                border-color: #ccc;
                */
            border: 0px;
            border-bottom: 1px solid #ccc;
            margin-top: 2px;
            cursor: pointer;
        }
        
        .thinBorder {
            /*border-radius: 3px;
                border-color: #ccc;
                */
            border: 0px;
            border-bottom: 1px solid #ccc;
            margin-top: 2px;
            cursor: pointer;
        }
        
        .thinBorderForEdit {
            /*border-radius: 3px;
                border-color: #ccc;
                */
            border: 0px;
            border-bottom: 1px solid #ccc;
            margin-top: 2px;
            cursor: pointer;
        }
        
        .thinTextBox {
            border: 1px #ccc solid;
            cursor: pointer;
        }
        
        .thinTextBoxForEdit {
            border: 1px #ccc solid;
            cursor: pointer;
        }
        
        .validator {
            margin-top: 0px;
            margin-bottom: 1px;
            font-size: 12px;
        }
        
        .formTitle {
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    </style>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page" style="overflow-y: auto;">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <h4 class="mt-0 header-title">Bills till Date</h4>
                    <p class="sub-title">List of All Bills other than Digital & Reimbursements</p>
                    <div class="row">
                        <div class="card" style="width: 98%; margin-bottom: 5px;">
                            <div class="card-body" style="display: inline-block;height: 55px; vertical-align: middle; padding-top: 10px; ">
                                <label>From</label>
                                <input class="thinBorderControl" type="date" value="2011-08-19" id="from_date">
                                <label style="margin-left: 10px;">To</label>
                                <input class="thinBorderControl" type="date" value="2011-08-19" id="to_date">
                                <label style="margin-left: 10px;">Head</label>
                                <input class="thinBorderControl" type="text" list="categoryList" value="" id="headCategory">
                                <datalist id="categoryList">
                                        {% for item in categories %}
                                        <option name="{{ item.id}}" value="{{item.name}}"></option>
                                        {% endfor %}
                                </datalist>
                                <label style="margin-left: 10px;">Vendor</label>
                                <input class="thinBorderControl" type="search" value="" id="headVendor" list="vendorList">
                                <datalist id="vendorList">
                                    {% for item in vendors %}
                                    <option name="{{ item.id}}" value="{{item.name}}"></option>
                                    {% endfor %}
                                </datalist>
                                <button type="button" class="btn btn-outline-info waves-effect waves-light" style="margin-left: 10px;">Search</button>
                            </div>
                        </div>
                        <div class="card" style="width: 50%;margin-top: 10px;">
                            <div class="card-body">
                                <table id="datatable" class="display">
                                    <thead>

                                        <tr>
                                            <th>ID</th>
                                            <th>Title</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card" style="width: 45%; margin-left: 30px;margin-top: 10px;">
                            <div class="card-body">
                                <div style="display: block;" id="controlBar">

                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-light active" id="newButton" onclick="changeState('new')">
                                                    <input type="radio" name="options" > New
                                                </label>
                                        <label class="btn btn-light " id="viewButton" onclick="changeState('view')">
                                                    <input type="radio" name="options" > View
                                                </label>
                                        <label class="btn btn-light " id="editButton" onclick="changeState('edit')">
                                                    <input type="radio" name="options" > Edit
                                        </label>


                                    </div>
                                    <button id="saveBtn" class="btn btn-light" onclick="save()" style="float: right; margin-left: 50px; margin-right: 5px;">Save</button>
                                    <!--<button id="saveBtnForEdit" class="btn btn-light" onclick="saveForEdit()" style="float: right; margin-left: 50px; margin-right: 5px;">Save</button>
                                    --
                                    title, meta,amount,headID,toEntityType,entityID,currency,t_date,r_date,status

                                                -->


                                </div>
                                <div id="newRecord" style="display: block;">
                                    <div class="row">
                                        <section>
                                            <div style="display: block; margin-top: 15px;">
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Amount</label>
                                                    <p class="validator" id="v_new_amount">Trans. Amount</p>
                                                    <input class="thinBorder" style="display: inline-flex; width: 75px;font-size: 15px;" id="new_amount" type="text" value="" name="name">
                                                </div>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Currency</label>
                                                    <p class="validator" id="v_new_currency">Select Currency</p>
                                                    <input class="thinBorder" style="display: inline-flex; width: 70px; margin-left: 8px;font-size: 15px;" id="new_currency" type="text" value="" name="name" list="currency_list">
                                                    <datalist id="currency_list">
                                                        <option value="USD">USD</option>
                                                        <option value="SGD">SGD</option>
                                                        <option value="INR">INR</option>
                                                    </datalist>
                                                </div>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block; font-size: 120%;" for="name">New record</label>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div style="display: block; margin-top: 10px;">
                                        <div class="row">
                                            <section>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Title</label>
                                                    <p class="validator" id="v_new_title">Short Title for Expense</p>
                                                    <input class="thinBorder" style="display: block;" id="new_title" type="text" value="" name="name">
                                                </div>

                                                <div style="float:left; margin-left: 10px;">
                                                    <label class="formTitle" style="display: block;" for="email">Category</label>
                                                    <p class="validator" id="v_new_category">Pick an Expense Head</p>
                                                    <input class="thinBorder" style="display: block;" id="new_category" type="text" value="" list="category">
                                                    <datalist id="category">
                                                        {% for item in categories %}
                                                        <option name="{{ item.id}}" value="{{item.name}}"></option>
                                                        {% endfor %}
                                                </datalist>
                                                </div>
                                                <br style="clear:both;" />
                                            </section>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <section>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Vendor</label>
                                                    <p class="validator" id="v_new_vendor">Select a Vendor</p>
                                                    <input class="thinBorder" style="display: block;" id="new_vendor" type="text" list="vendors" value="" name="name">
                                                    <datalist id="vendors">
                                                        {% for item in vendors %}
                                                        <option name="{{ item.id}}" value="{{item.name}}"></option>
                                                        {% endfor %}
                                                    </datalist>
                                                </div>

                                                <div style="float:left; margin-left: 10px;">
                                                    <label class="formTitle" style="display: block;" for="email">Transaction Date</label>
                                                    <p class="validator" id="v_new_date">Give a Transaction Date</p>
                                                    <input class="thinBorder" style="display: block;" id="new_date" type="date" value="" name="email">
                                                </div>
                                                <br style="clear:both;" />
                                            </section>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <section>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Remarks</label>
                                                    <p class="validator" id="v_new_remarks">A Short Remark in 100 Characters Max</p>
                                                    <textarea id="new_remarks" class="thinTextBox" style="width: 300px;height: 80px;resize: none;"></textarea>
                                                </div>
                                                <br style="clear:both;" />
                                            </section>
                                        </div>
                                    </div>
                                    <div style="display: block; margin-top: 10px;">
                                        <form id="dropzone" action="/expense/api/upload" class="dropzone">
                                            <div class="fallback">
                                                <input id="new_file" name="file" class="thinTextBox" type="file" multiple />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="editRecord">
                                    <div class="row">
                                        <section>
                                            <div style="display: block; margin-top: 15px;">
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Amount</label>
                                                    <p class="validator" id="v_edit_amount">Trans. Amount</p>
                                                    <input class="thinBorderForEdit" style="display: inline-flex; width: 75px;font-size: 15px;" id="edit_amount" type="text" value="" name="name">
                                                </div>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Currency</label>
                                                    <p class="validator" id="v_new_currency">Select Currency</p>
                                                    <input class="thinBorderForEdit" style="display: inline-flex; width: 70px; margin-left: 8px;font-size: 15px;" id="edit_currency" type="text" value="" name="name" list="currency_list">
                                                    <datalist id="edit_currency_list">
                                                    <option value="USD">USD</option>
                                                    <option value="SGD">SGD</option>
                                                    <option value="INR">INR</option>
                                                </datalist>
                                                </div>
                                                <div style="float:left;margin-left:20px;">
                                                    <label id="editID" class="formTitle" style="display: block; font-size: 120%;" for="name">Hi</label>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div style="display: block; margin-top: 10px;">
                                        <div class="row">
                                            <section>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Title</label>
                                                    <p id="v_edit_title" class="validator">Short Title for Expense</p>
                                                    <input class="thinBorderForEdit" style="display: block;" id="edit_title" type="text" value="Edit Sample Expense" name="name">

                                                </div>

                                                <div style="float:left; margin-left: 10px;">
                                                    <label class="formTitle" style="display: block;" for="email">Category</label>
                                                    <p id="v_edit_category" class="validator">Pick an Expense Head</p>
                                                    <input class="thinBorderForEdit" style="display: block;" id="edit_category" type="text" value="" list="edit_category_list">
                                                    <datalist id="edit_category_list">
                                                        {% for item in categories %}
                                                        <option name="{{ item.id}}" value="{{item.name}}"></option>
                                                        {% endfor %}
                                                    </datalist>
                                                </div>
                                                <br style="clear:both;" />
                                            </section>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <section>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Vendor</label>
                                                    <p id="edit_validator" class="validator">Select a Vendor</p>
                                                    <input class="thinBorderForEdit" style="display: block;" id="edit_vendor" list="edit_vendors_list" type="text" value="" name="name">
                                                    <datalist id="edit_vendors_list">
                                                        {% for item in vendors %}
                                                        <option name="{{ item.id}}" value="{{item.name}}"></option>
                                                        {% endfor %}
                                                    </datalist>
                                                </div>

                                                <div style="float:left; margin-left: 10px;">
                                                    <label class="formTitle" style="display: block;" for="email">Transaction Date</label>
                                                    <p class="validator">Give a Transaction Date</p>
                                                    <input class="thinBorderForEdit" style="display: block;" id="edit_date" type="date" value="" name="email">
                                                </div>
                                                <br style="clear:both;" />
                                            </section>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <section>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Remarks</label>
                                                    <p class="validator">A Short Remark in 100 Characters Max</p>
                                                    <textarea id="edit_remarks" class="thinTextBoxForEdit" style="width: 300px;height: 80px;resize: none;"></textarea>
                                                </div>
                                                <br style="clear:both;" />
                                            </section>
                                        </div>
                                    </div>
                                    <div style="display: block; margin-top: 10px;">
                                        <form id="edit_dropzone" action="/expense/api/upload" class="dropzone">
                                            <div class="fallback">
                                                <input id="edit_file" name="file" class="thinTextBox" type="file" multiple />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="viewRecord">
                                    <div class="row">
                                        <section>
                                            <div style="display: block; margin-top: 15px;">
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Amount</label>
                                                    <p class="validator" id="v_view_amount">Trans. Amount</p>
                                                    <input class="thinBorderForEdit" style="display: inline-flex; width: 75px;font-size: 15px;" id="view_amount" type="text" value="" name="name">
                                                </div>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Currency</label>
                                                    <p class="validator" id="v_view_currency">Select Currency</p>
                                                    <input class="thinBorderForEdit" style="display: inline-flex; width: 70px; margin-left: 8px;font-size: 15px;" id="view_currency" type="text" value="" name="name" list="currency_list">
                                                    <datalist id="view_currency_list">
                                                        <option value="USD">USD</option>
                                                        <option value="SGD">SGD</option>
                                                        <option value="INR">INR</option>
                                                    </datalist>
                                                </div>
                                                <div style="float:left;margin-left:20px;">
                                                    <label id="viewID" class="formTitle" style="display: block; font-size: 120%;" for="name">Hi</label>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div style="display: block; margin-top: 10px;">
                                        <div class="row">
                                            <section>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Title</label>
                                                    <p id="v_view_title" class="validator">Short Title for Expense</p>
                                                    <input class="thinBorderForEdit" style="display: block;" id="view_title" type="text" value="Edit Sample Expense" name="name">

                                                </div>

                                                <div style="float:left; margin-left: 10px;">
                                                    <label class="formTitle" style="display: block;" for="email">Category</label>
                                                    <p id="v_view_category" class="validator">Pick an Expense Head</p>
                                                    <input class="thinBorderForEdit" style="display: block;" id="view_category" type="text" value="" list="view_category_list">
                                                    <datalist id="view_category_list">
                                                        <option value="ABCD"></option>
                                                        <option value="EFGH"></option>
                                                        <option value="IJKL"></option>
                                                    </datalist>
                                                </div>
                                                <br style="clear:both;" />
                                            </section>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <section>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Vendor</label>
                                                    <p id="v_vendor_validator" class="validator">Select a Vendor</p>
                                                    <input class="thinBorderForEdit" style="display: block;" id="view_vendor" list="view_vendors_list" type="text" value="" name="name">
                                                    <datalist id="view_vendors_list">
                                                        <option value="Tata"></option>
                                                        <option value="Microsoft"></option>
                                                        <option value="MES"></option>
                                                    </datalist>
                                                </div>

                                                <div style="float:left; margin-left: 10px;">
                                                    <label class="formTitle" style="display: block;" for="email">Transaction Date</label>
                                                    <p class="validator" id="view_date_validator">Give a Transaction Date</p>
                                                    <input class="thinBorderForEdit" style="display: block;" id="view_date" type="date" value="" name="email">
                                                </div>
                                                <br style="clear:both;" />
                                            </section>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <section>
                                                <div style="float:left;margin-left:20px;">
                                                    <label class="formTitle" style="display: block;" for="name">Remarks</label>
                                                    <p class="validator" id="view_remarks_validator">A Short Remark in 100 Characters Max</p>
                                                    <textarea id="view_remarks" class="thinTextBoxForEdit" style="width: 300px;height: 80px;resize: none;"></textarea>
                                                </div>
                                                <br style="clear:both;" />
                                            </section>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- end row data-toggle="modal" data-target="#confirmModal" -->


                    <!-- end row -->
                </div>
                <!-- end page-title -->


            </div>
            <!-- container-fluid -->

        </div>
        <!-- content -->



    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

    <!-- END wrapper -->



    {% endblock %} {% include "/jsassets.html" %} {% include "/datatableassets-js.html" %}

    <script>
        var global_state = 'nil';
        var recordID = 0;
        var global_saveState_new = 0;
        var global_saveState_edit = 0;
        var current_recordId = 0;
        (function() {

        })();

        function resetUItoNew() {

            var new_title = document.getElementById("new_title");
            var new_category = document.getElementById("new_category");
            var new_vendor = document.getElementById("new_vendor");
            var new_date = document.getElementById("new_date");
            var new_remarks = document.getElementById("new_remarks");
            var new_amount = document.getElementById("new_amount");
            var new_currency = document.getElementById('new_currency');

            new_title.value = '';
            new_category.value = '';
            new_vendor.value = '';
            new_date.value = getDateinFormat('today');
            new_remarks.textContent = '';
            new_amount.value = '';
            new_currency.value = '';


        }

        function updateUI(data) {


            document.getElementById("edit_title").value = data['title'];
            document.getElementById("edit_category").value = data['category_name'];
            document.getElementById("edit_vendor").value = data['vendorName'];
            document.getElementById("edit_date").value = data['t_date'];
            document.getElementById("edit_remarks").value = data['remarks'];
            document.getElementById("edit_amount").value = data['amount'];
            document.getElementById('edit_currency').value = data['currency'];
            document.getElementById("view_title").value = data['title'];
            document.getElementById("view_category").value = data['category_name'];
            document.getElementById("view_vendor").value = data['vendorName'];
            document.getElementById("view_date").value = data['t_date'];
            document.getElementById("view_remarks").value = data['remarks'];
            document.getElementById("view_amount").value = data['amount'];
            document.getElementById('view_currency').value = data['currency'];
            var current_recordId = data['id'];
            document.getElementById('editID').textContent = 'Record -' + data['id'];
            document.getElementById('viewID').textContent = 'Record -' + data['id'];
            document.getElementById('viewButton').click();

        }

        function getRecordDataFromAPI(id) {
            $.get("/expense/api/getByID/" + id, function(data, status) {
                console.log(data);
                updateUI(data);
            });

        }


        function loadEditViewDefault(data) {
            d = data.data.reverse();
            var id = d[0]['id'];
            console.log("First Id is", id);
            getRecordDataFromAPI(id);
        };

        function loadEditViewByID(id) {
            getRecordDataFromAPI(id);
        };

        function changeState(state) {
            editRecord = document.getElementById("editRecord");
            newRecord = document.getElementById("newRecord");
            viewRecord = document.getElementById("viewRecord");
            console.log("state is ", state);
            if (state == "new") {
                global_state = 'new';
                resetUItoNew();
                newRecord.style.display = "block";
                editRecord.style.display = "none";
                viewRecord.style.display = "none";
                $(".thinBorder").attr("readonly", false);
                $(".thinTextBox").attr("readonly", false);
                $('#saveBtn').show();
                //$('#saveBtnForEdit').hide();
                $("#saveBtn").removeClass("btn btn-success").addClass("btn btn-light");

            }
            if (state == "view") {
                global_state = 'view';
                newRecord.style.display = "none";
                editRecord.style.display = "none";
                viewRecord.style.display = "block";
                $(".thinBorder").prop("readonly", true);
                $(".thinTextBox").prop("readonly", true);
                $(".thinBorderForEdit").attr("readonly", true);
                $(".thinTextBoxForEdit").attr("readonly", true);
                document.getElementById('new_date').value = getDateinFormat('today');
                $('#saveBtn').hide();
                //global_state = 1;
                $('#edit_dropzone').hide();

                $('.thinTextBoxForEdit').click(
                    function() {

                    });


            }
            if (state == "edit") {
                global_state = 'edit';
                newRecord.style.display = "none";
                viewRecord.style.display = "none";
                editRecord.style.display = "block";
                $(".thinBorder").attr("readonly", false);
                $(".thinTextBox").attr("readonly", false);
                $(".thinBorderForEdit").attr("readonly", false);
                $(".thinTextBoxForEdit").attr("readonly", false);
                $('#saveBtn').show();
                //global_state = 0;
                $("#saveBtn").removeClass("btn btn-success").addClass("btn btn-light");
                $('#edit_dropzone').show();

            }

        };

        function getIDfromValueOption(list, value) {
            var x = document.getElementById(list).options.length;
            var itemIndex = 0;
            for (i = 0; i < (x - 1); i++) {
                if (value == document.getElementById(list).options[i].value) {
                    itemIndex = i;
                    //console.log("Got Matching element at index -", itemIndex);
                    break;
                }
            }
            var id = document.getElementById(list).options[itemIndex].getAttribute('name');
            return parseInt(id);
        }

        function reloadDataTable() {

            $.get("/expense/api/newAllExpenses", function(data, status) {
                console.log(data);
                changeState('edit');
                loadEditViewDefault(data);
                var k = data.data;
                var l = k.reverse();
                $('#datatable').dataTable().fnClearTable();
                $('#datatable').dataTable().fnAddData(l);
                $('#datatable').dataTable().fnDraw();

            });

        }

        function postNewRecord() {

            var amount = document.getElementById('new_amount');
            var currency = document.getElementById('new_currency');
            var title = document.getElementById('new_title');
            var category = document.getElementById('new_category');
            var vendor = document.getElementById('new_vendor');
            var remarks = document.getElementById('new_remarks');
            //console.log(currency.value, category.value, vendor.value);
            var categoryID = getIDfromValueOption('category', category.value);
            var vendorID = getIDfromValueOption('vendors', vendor.value);
            var t_date = document.getElementById('new_date');
            var r_date = DatetoStringNow();
            console.log('new_date', t_date.value);
            console.log("title", title.value, "meta", remarks.value, "amount ", amount.value);

            $.ajax({
                    data: JSON.stringify({
                        "title": title.value,
                        "meta": remarks.value,
                        "amount": amount.value,
                        "headID": categoryID,
                        "toEntityType": 'undefined',
                        "entityID": vendorID,
                        "currency": currency.value,
                        "t_date": t_date.value,
                        "r_date": r_date,
                        "status": 'transacted',
                    }),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '/expense/api/createExpense'
                })
                .done(function(data) {
                    if (data.error) {
                        console.log(data.error)
                    } else {
                        console.log("excellent");
                        //alert("success");
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: '<p style="font-size:60%">Saving New Record</p>',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        reloadDataTable();
                        resetUItoNew();
                    };
                });
        }

        function editExistingRecord() {

            var editRecordID = current_recordId;
            var amount = document.getElementById('edit_amount');
            var currency = document.getElementById('edit_currency');
            var title = document.getElementById('edit_title');
            var category = document.getElementById('edit_category');
            var vendor = document.getElementById('edit_vendor');
            var remarks = document.getElementById('edit_remarks');
            //console.log(currency.value, category.value, vendor.value);
            var categoryID = getIDfromValueOption('edit_category_list', category.value);
            var vendorID = getIDfromValueOption('edit_vendors_list', vendor.value);
            var t_date = document.getElementById('edit_date');
            var r_date = DatetoStringNow();
            console.log('new_date', t_date.value);
            console.log("title", title.value, "meta", remarks.value, "amount ", amount.value);
            var url = '/expense/api/editExpense';
            $.ajax({
                    data: JSON.stringify({
                        "id": editRecordID,
                        "title": title.value,
                        "meta": remarks.value,
                        "amount": amount.value,
                        "headID": categoryID,
                        "toEntityType": 'undefined',
                        "entityID": vendorID,
                        "currency": currency.value,
                        "t_date": t_date.value,
                        "r_date": r_date,
                        "status": 'transacted',
                    }),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: url
                })
                .done(function(data) {
                    if (data.error) {
                        console.log(data.error)
                    } else {
                        console.log("excellent");
                        //alert("success");
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: '<p style="font-size:60%">Saving Changes!</p>',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        reloadDataTable();
                        resetUItoNew();
                    };
                });
        }

        function save() {
            console.log("save button clicked with state", global_state);
            console.log("Saving state for new is ", global_saveState_new);
            if (global_state == 'new') {
                // saving new record
                if (global_saveState_new == 1) {
                    postNewRecord();

                } else {

                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: '<p style="font-size:60%">Validate your inputs</p>',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }

            }
            if (global_state == 'edit') {
                // saving edit record
                if (global_saveState_edit == 1) {
                    editExistingRecord();
                } else {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: '<p style="font-size:60%">Validate your inputs</p>',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }
        }
    </script>

    <script>
        $(document).ready(function() {


            document.getElementById('to_date').value = getDateinFormat('today');
            document.getElementById('from_date').value = getDateinFormat('firstday');
            var newButton = $('#newButton');
            var editButton = $('#editButton');
            var viewButton = $('#viewButton');
            viewButton.click();
            // title for New
            var new_title = document.getElementById("new_title");
            var new_titleValidator = document.getElementById("v_new_title");
            titleValidator = new textInputFieldElement(new_title, new_titleValidator, 'text');
            // title for Edit
            var edit_title = document.getElementById("edit_title");
            var edit_titleValidator = document.getElementById("v_edit_title");
            editTitleValidator = new textInputFieldElement(edit_title, edit_titleValidator, 'text');



            // Category for New Record
            var category_input = document.getElementById("new_category");
            var dataListCategory = document.getElementById("category");
            var categoryValidator = document.getElementById("v_new_category");
            categoryValidator = new dataListInputElement(category_input, dataListCategory, categoryValidator)
                // Category for Edit Record
            var edit_category_input = document.getElementById("edit_category");
            var edit_dataListCategory = document.getElementById("edit_category_list");
            var edit_categoryValidator = document.getElementById("v_edit_category");
            edit_categoryValidator = new dataListInputElement(edit_category_input, edit_dataListCategory, edit_categoryValidator)

            // Vendor New
            var vendor_input = document.getElementById("new_vendor");
            var vendorList = document.getElementById("vendors");
            var vendorValidator = document.getElementById("v_new_vendor");
            vendorValidator = new dataListInputElement(vendor_input, vendorList, vendorValidator)
                // Vendor Edit
            var edit_vendor_input = document.getElementById("edit_vendor");
            var edit_vendorList = document.getElementById("edit_vendors_list");
            var edit_vendorValidator = document.getElementById("edit_validator");
            edit_vendorValidator = new dataListInputElement(edit_vendor_input, edit_vendorList, edit_vendorValidator)

            var dateInput = document.getElementById("new_date");
            var dateValidator = document.getElementById("v_new_date");
            var inputDateValidator = new dateInputElement(dateInput, dateValidator);

            //v_new_remarks, new_remarks

            var new_remarks = document.getElementById("new_remarks");
            var new_remarksClue = document.getElementById("v_new_remarks");
            remarksValidator = new textInputFieldElement(new_remarks, new_remarksClue, 'text');

            //NumberValidator
            var new_amount = document.getElementById("new_amount");
            var v_new_amount = document.getElementById("v_new_amount");
            amountValidator = new NumberValidator(new_amount, v_new_amount);
            //editAmountValidator
            var edit_amount = document.getElementById("edit_amount");
            var v_edit_amount = document.getElementById("v_edit_amount");
            edit_amountValidator = new NumberValidator(edit_amount, v_edit_amount);

            // Currency
            var currency_input = document.getElementById("new_currency");
            var dataListCurrency = document.getElementById("currency_list");
            var currencyValidator = document.getElementById("v_new_currency");
            currencyValidator = new dataListInputElement(currency_input, dataListCurrency, currencyValidator)


            function detectEvent(eventName) {
                console.log("Event Detected");
                var t_success = titleValidator.validateText(10, 40);
                var c_success = categoryValidator.validateInput();
                var v_success = vendorValidator.validateInput();
                var date_success = inputDateValidator.validateInput();
                var remarks_success = remarksValidator.validateText(30, 100);
                var amount_success = amountValidator.validateNumber();
                var currency_success = currencyValidator.validateInput();
                console.log(t_success, "- title", c_success, "- category", v_success, "- vendor", date_success, "-date", remarks_success, "-remarks")
                if (t_success && c_success && v_success && date_success && remarks_success && amount_success && currency_success) {
                    console.log("ALL TRUE BOSS");
                    var saveBtn = document.getElementById('saveBtn');
                    saveBtn.className = "";
                    var saveBtnCurrentClass = saveBtn.className;
                    $("#saveBtn").removeClass(saveBtnCurrentClass).addClass("btn btn-success waves-effect waves-light");
                    global_saveState_new = 1;
                    console.log("changing save state to 1");
                } else {
                    $("#saveBtn").removeClass("btn btn-light").addClass("btn btn-info waves-effect waves-light");
                }
            }

            function detectEditEvent(eventName) {
                console.log("Event Detected");
                var edit_t_success = editTitleValidator.validateText(10, 40);
                var edit_c_success = edit_categoryValidator.validateInput();
                var edit_v_success = edit_vendorValidator.validateInput();
                //var date_success = inputDateValidator.validateInput();
                //var remarks_success = remarksValidator.validateText(30, 100);
                var edit_amount_success = edit_amountValidator.validateNumber();
                //var currency_success = currencyValidator.validateInput();
                //console.log(t_success, "- title", c_success, "- category", v_success, "- vendor", date_success, "-date", remarks_success, "-remarks")
                if (edit_t_success && edit_c_success && edit_v_success && edit_amount_success) {
                    console.log("ALL TRUE BOSS");
                    var saveBtn = document.getElementById('saveBtn');
                    saveBtn.className = "";
                    var saveBtnCurrentClass = saveBtn.className;
                    $("#saveBtn").removeClass(saveBtnCurrentClass).addClass("btn btn-success waves-effect waves-light");
                    global_saveState_edit = 1;
                } else {
                    $("#saveBtn").removeClass("btn btn-light").addClass("btn btn-info waves-effect waves-light");
                }
            }


            $(".thinBorder").on("input", function() {
                detectEvent('change');
            });
            //thinTextBox
            $(".thinTextBox").on("input", function() {
                detectEvent('change');
            });

            $(".thinBorderForEdit").on("input", function() {
                detectEditEvent('change');
            });



            $.get("/expense/api/newAllExpenses", function(data, status) {
                console.log(data);
                changeState('edit');
                loadEditViewDefault(data);

                var k = data.data;
                var l = k.reverse();

                $('#datatable').DataTable({
                    columns: [{
                        "data": "id"
                    }, {
                        "data": "title"
                    }, {
                        "data": "display_amount"
                    }, {
                        "data": "date"
                    }],
                    paging: false,
                    searching: true,
                    scrollY: 400,
                    scrollCollapse: true,
                    data: l,
                    mark: true,
                    scrollCollapse: true,
                    fixedColumns: {
                        heightMatch: 'none'
                    },
                    columnDefs: [{
                        width: 10,
                        targets: 0
                    }],
                    order: [
                        [0, "desc"]
                    ]
                });

            });

        });

        function colorDifferentRows(el) {

            var parentNode = el.parentNode;
            var childNodes = parentNode.childNodes;
            console.log(childNodes);
            for (i = 0; i < (childNodes.length - 1); i++) {
                if (childNodes[i] == el) {
                    childNodes[i].bgColor = 'red';
                } else {
                    childNodes[i].bgColor = 'white';
                }
            }

        }
        $('#datatable').on('click', 'tbody tr', function() {
            var table = $('#datatable').DataTable();
            console.log('API row values : ', table.row(this).data());
            var dataitem = table.row(this).data();
            current_recordId = parseInt(dataitem['id']);
            $(this).addClass('selected').siblings().removeClass("selected");
            //colorDifferentRows(this);
            loadEditViewByID(dataitem['id']);

        })
    </script>
    <script src="/static/assets/js/expense.js"></script>
    <script src="/static/assets/js/alerty.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.12/dist/sweetalert2.all.min.js"></script>
    <script>
    </script>

</html>