<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Menu</li>
                <li>
                    <a href="/dash/test" class="waves-effect"><i class="fas fa-home"></i><span> Dashboard <span class="float-right menu-arrow"></span> </span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fas  fa-dollar-sign"></i><span> Expenses <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="/expense/bills/">Bills</a></li>
                        <li><a href="/client/browse/1/">Reimbursements</a></li>
                        <li><a href="/client/contact/create">Digital</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-print"></i><span> Quotes <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Estimates</a></li>
                        <li><a href="#">Quotes from Estimate</a></li>
                        <li><a href="#">Adhoc Quotes</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-file-invoice-dollar"></i><span> Invoice <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Create</a></li>
                        <li><a href="#">Manage</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-check-square"></i><span> Approvals <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Request</a></li>
                        <li><a href="/quote/create">Approvals</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-hand-holding-usd"></i><span> Salary <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Create</a></li>
                        <li><a href="#">Bonus</a></li>
                        <li><a href="email-read.html">Manage</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-database"></i><span> Ledger <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Create</a></li>
                        <li><a href="#">Manage</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-exchange-alt"></i><span> Transactions <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Create</a></li>
                        <li><a href="email-read.html">Manage</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-tasks"></i><span> Projects <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Add Expense</a></li>
                        <li><a href="email-read.html">Cost</a></li>
                        <li><a href="email-read.html">Invoice</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-boxes"></i><span> Products <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Create</a></li>
                        <li><a href="email-read.html">Manage</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-chart-line"></i><span> Reports <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Expense</a></li>
                        <li><a href="email-read.html">Income</a></li>
                        <li><a href="email-compose.html">Query Builder</a></li>
                        <li><a href="email-compose.html">Cash Flow Statement</a></li>
                        <li><a href="email-compose.html">Balance Sheet</a></li>
                        <li><a href="email-compose.html">Trial Balance</a></li>
                        <li><a href="email-compose.html">Profit and Loss</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/configure/main" class="waves-effect"><i class="fas fa-cogs"></i><span> Configure <span class="float-right menu-arrow"></span> </span></a>
                </li>



            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->